src/main/resources/schema/eSchedule/claimmanagement/mfpSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by David Milliner (ACC) -->
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by David Milliner (Business Technology) -->
<!--W3C Schema generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<!--
    Name:              mfpSchedule
    Description:     This XML schema defines an invoice schedule document for services from medical vendors to ACC to be applied to the MFP system.
    				  The design of this schema  is based around the ACC requirement to be customer centric,
    				  therefore the schadule is based on the Vendor who is the originator of the schedule.
    				  The schedule is created by the eForm project into an mfp queue for uptake bu MFP. The data is obtained by eForm
    				  from either the PMS or from a web entry. eForm then outputs the mfpSchedule for mfp uptake in the required format.
    				  A PMS schedule can contain up to 200 schedule lines while a web schedule is limited to 10 schedule lines.
    				  Each schedule line can contain one or more service lines. The web based schedule is restricted to 5 service lines per schedule 				  lines but the PMS schedule line is in theory unlimited.

    Version:         		0.1
    Version Created: 		1 July 2002
    Version 0.1 Notes:	 This version has been established to enable a review of the schemas required by eForm to be progressed.
        						last updated		12 July 2002
    											18 July 2002			several changes as per Change Request document
    											23 July 2002			additional changes for emails and issues
    											29 July 2002			a number of changes to schemas and ACCStandardHeader/Trailer
    											1 Aug 2002				a couple of fixes for errors in schema design and a couple of data changes
    											9 August 2002			changed to correct namespace
    											26 August 2002			changed include \ to / this did not create a new version as it had not been 																	published also changed claimed distance travelled from facet 5,2 to 5,0
																	in sub schema eFormScheduleLine.


    Version:          		1.0
    Version Created: 		30 August 2002
    Version 1.0 Notes: 	This version has been established as eForm seem to require a schema with a date other than the one already there (09/08).
    						Not really sure why they required a schema with a different date but to control it a change control process has to
    						be put in place. Any future changes must be approved by all parties.
											30 August 2002			Request by eForm to produce new schema release with dates of 30/8/02
																	- don't know why?
																	By setting this version the schema now effectively under a change control
																	process. No changes are permitted without sign off by Project Mgr, MFP
																	Development and eForm Project.

      Version:          		1.0
    Version Created: 		23 Jan 2003
    Version 1.0 Notes: 	This version implements a change requested by Nick Charles via email, which is to make the "claimedUnits" element optional.  This 							schema is now believed to be suitable for use as a replacement for the eForm schema in addition to its original function and replaces both 						the eschedule and the mfpschedule schemas.



    Schema Name:	mfpSchedule20030508
    Version:        		1.1
    Version Created:	8 May 2003
    Change:			eForm has been reviewed and a number of changes are required for clarity and  to align with mfpUptake requirements.
    					The standard header and trailer have changed, eFormScheduleLine and eFormServiceLine have also changed.
    					Sender and deployment have been dropped from header, the elements have been made optional in the trailer.
    					Claimant third name has ben made optional.
    					The number of schedule lines has been limited to 200 and the number of service item codes has been limited to 5.
    					The claimed amount and the schedulel claimed amount have been set to minIncl= +0.00 to stop credits.
    					The claimed amount has also been set to decimal totDig 8 / frac 2.
    					The element claimed_units has been changed, it was removed from eSchedule in February but mfpUptake should handle it.
    					The complex element ScheduleClaimant has been removed as the elements it contained have been moved to eFormClaimant.
    					ScheduleProvider and ScheduleClaim have had max occurs arbitrary limits set at 100.

    Schema Name:	mfpSchedule20030521
    Version:        		1.2
    Version Created:	21 May 2003
    Change:			A review by Nick Charles identified a difference between the label in eSchedule (medical_fees_number) and mfpSchedule 						(claim_number). It has been decided that both names should be the same and the mfpSchedule will change from claim_number to 					medical_fees_number to better reflect its use (and naming) in the MFP database.


   Schema Name:	mfpSchedule20030530
    Version:        		1.3
    Version Created:	30 May 2003
    Change:			An error in the injury line specification was noticed and changed. This label was in and out several times and somehow got in as
    					being mandatory in error. The eFormInjuryLine has been made optional (minOccs 0).


   Schema Name:	mfpSchedule20030605
    Version:          		1.4
    Version Created: 		5 June 2003
    Version 1.2 Notes: 	Corrected namespace definition (had extra "s"in the url).
						  Was: targetNamespace="http://www1.acc.co.nz/namsespace/Claim Management/mfpSchedule20030530" xmlns="http://www1.acc.co.nz/namsespace/Claim Management/mfpSchedule20030530"
						  Now: targetNamespace="http://www1.acc.co.nz/namespace/Claim Management/mfpSchedule20030605" xmlns="http://www1.acc.co.nz/namespace/Claim Management/mfpSchedule20030605"

    Schema Name:	mfpSchedule20030616
    Version:          		1.5
    Version Created: 		16 June 2003
    Version 1.2 Notes: 	Pattern added to GST label (vendor_gst_number in the sub schema eFormVendor20030610) for 0-9 and - as valid content.
    						Patern added to lines_include_gst in the sub-schema eFormSchedule for Y or N as valid data.

    Schema Name:	mfpSchedule20030701
    Version:          		1.6
    Version Created: 		01 July 2003
    Version 1.2 Notes: 	A new sub-schema mfpFormSchedule on 01 7 2003 set the element lines_include_gst to accept Y or N.
    						This is different to the rules for eFormSchedule.

    Schema Name:	mfpSchedule20030901
    Version:        		1.7
    Version Created:	22 July 2003
    Change:			A testing problem with using namespace. Remove xmlns="http://www1.acc.co.nz/namespace"  reference from xsd schema.

    Schema Name:	mfpSchedule20030901
    Version:        		1.8
    Version Created:	01 September 2003
    Change:			The problems of 22 July with namespace were resolved but did not solve all problems very cleanly.
    					To this end, a review of namespace usage was investigated and a solution developed.
    					The solution changes the way in which namespaces are addressed internally and externally and makes it much tidier.
    					The structure of the library has also changed to bring all directories in at the same structure level to accommodate type libraries.
   					A number of elements have changed in the schema and they are now part of datatypes.
   					Some in the schema and some in the included schemas.
   					A data type will need to reference the data type namespace  	ie. xmlns:xmldt="http://xmlschema.acc.co.nz/"
   					Other changes are :
   					Change the max occurs for ScheduleProvider and ScheduleClaim to 200 each. Although unlikely, it is possible for a schedule to contain 200 					providers with 1 line each or for a provider to define 200 claims on a schedule.  eSchedule limits the max schedule lines to 200 but the make 					of those lines means each of the max occurs in mfpSchedule could reach those maximums although the probability is minuscule.
					Change the element eFormInjuryLine to be min occurs 0, max occurs unbounded


    Schema Name:	mfpSchedule20030903
    Version:        		1.9
    Version Created:	03 September 2003
    Change:			A late change was made to amend the injury line unbounded max occurs to a max occurs 50.
    					(it was decided at a meeting that injury line unbounded presented too big a risk and it should be limited by setting it to a specific count)

     Schema Name:	mfpSchedule20030904
    Version:        		1.10
    Version Created:	04 September 2003
    Change:			In change 20030903 the namespace was NOT changed so the schema was in error and has to be re-issued with the correct namespace.
    					It was also suggested that the injury line is hard to relate to schedule line and it be moved from the ScheduleClaim to the ScheduleLine.

        Schema Name:	mfpSchedule20030908
    Version:        		1.11
    Version Created:	08 September 2003
    Change:			Cleaning up the directory naming removes spaces and upper case to standardise the way of defining URLs. The targetNamespace and the 					xmlns in the schema have been changed to conform. Also updated for version 20030908.
					Data types are used by mfpSchedule so the datatype namespace xmlns:xmldt [which was incorrect]  has been changed to xmlns:accdt.
					Includes have changed to pick up latest versions.


         Schema Name:	mfpSchedule20070101
    Version:        		1.12
    Version Created:	22 December 2007
    Change:			IRD Number change. Increase the gst number to 11 digits.





The standards that have been applied to this XML Schema are specific to ACC but conform to all specifications defined by the W3 Consortium. The XML Schema Base Specification can be found from their website www.w3.org


    Structural overview
    ~~~~~~~~~~~~~~~~~~~

 SOAP:Envelope
	|~~~ACCStandardHeader
	|~~~MessageInfo
	|~~~MFPVendor
		|~~~eFormVendor
		|~~~Schedule
			|~~~ScheduleHeader
				|~~~eFormSchedule
				|~~~lines_include_gst
			|~~~ScheduleProvider					repeats
				|~~~eFormProvider
				|~~~ScheduleClaim					repeats
					|~~~claim_number
					|~~~approval_reference_number
					|~~~accident_date
					|~~~injury_identifier
					|~~~eFormClaimant
					|~~~ScheduleClaimant
					|~~~eFromInjuryLine				repeats
					|~~~SceduleLine					repeats
						|~~~eFormContract
						|~~~eFormScheduleLine
						|~~~eFormServiceLine 		repeats
			|~~~ScheduleTrailer
	|~~~AACStandardTrailer

-->
<xsd:schema targetNamespace="http://xmlschema.acc.co.nz/claimmanagement/mfpSchedule20070101"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://xmlschema.acc.co.nz/claimmanagement/mfpSchedule20070101"
            xmlns:accdt="http://xmlschema.acc.co.nz/" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xsd:include schemaLocation="../type/ACCDataType.xsd"/>
    <xsd:include schemaLocation="../generic/ACCStandardHeader20030901.xsd"/>
    <xsd:include schemaLocation="../generic/eFormDocument20030901.xsd"/>
    <xsd:include schemaLocation="../generic/mfpFormVendor20070101.xsd"/>
    <xsd:include schemaLocation="../generic/mfpFormSchedule20030901.xsd"/>
    <xsd:include schemaLocation="../generic/mfpFormProvider20030908.xsd"/>
    <xsd:include schemaLocation="../generic/eFormClaimant20030901.xsd"/>
    <xsd:include schemaLocation="../generic/mfpFormContract20030908.xsd"/>
    <xsd:include schemaLocation="../generic/eFormScheduleLine20030901.xsd"/>
    <xsd:include schemaLocation="../generic/eFormInjuryLine20030901.xsd"/>
    <xsd:include schemaLocation="../generic/mfpFormServiceLine20030908.xsd"/>
    <xsd:include schemaLocation="../generic/ACCStandardTrailer20030901.xsd"/>
    <xsd:element name="MFPSchedule">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="ACCStandardHeader"/>
                <xsd:element name="MessageInfo">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="file_name" minOccurs="0">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:maxLength value="255"/>
                                        <xsd:minLength value="1"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="file_path" minOccurs="0">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:maxLength value="255"/>
                                        <xsd:minLength value="1"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element ref="eFormDocument"/>
                            <xsd:element name="document_gateway">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:maxLength value="1"/>
                                        <xsd:minLength value="1"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="MFPVendor">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element ref="mfpFormVendor"/>
                            <xsd:element name="Schedule">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="ScheduleHeader">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element ref="mfpFormSchedule"/>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="ScheduleProvider" maxOccurs="200">
                                            <xsd:annotation>
                                                <xsd:documentation>A max occurs has been set on this complex element.
                                                    The structure of the schema means that it is impossible to enforce
                                                    the limitation of 200 schedule lines per schedule so an arbitrary
                                                    limit has been set here
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element ref="mfpFormProvider"/>
                                                    <xsd:element name="ScheduleClaim" maxOccurs="200">
                                                        <xsd:annotation>
                                                            <xsd:documentation>A max occurs has been set on this complex
                                                                element. The structure of the schema means that it is
                                                                impossible to enforce the limitation of 200 schedule
                                                                lines per schedule so an arbitrary limit has been set
                                                                here
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                        <xsd:complexType>
                                                            <xsd:sequence>
                                                                <xsd:element name="medical_fees_number"
                                                                             type="MedicalFeesNumber"/>
                                                                <xsd:element name="approval_reference_number"
                                                                             type="MFPApprovalReferenceNumber"
                                                                             minOccurs="0"/>
                                                                <xsd:element name="accident_date" type="xsd:date"
                                                                             minOccurs="0"/>
                                                                <xsd:element ref="eFormClaimant"/>
                                                                <xsd:element name="ScheduleLine" maxOccurs="200">
                                                                    <xsd:complexType>
                                                                        <xsd:sequence>
                                                                            <xsd:element ref="mfpFormContract"
                                                                                         minOccurs="0"/>
                                                                            <xsd:element ref="eFormScheduleLine"/>
                                                                            <xsd:element name="claimed_units"
                                                                                         minOccurs="0">
                                                                                <xsd:annotation>
                                                                                    <xsd:documentation>This is the
                                                                                        number of claimed unit from the
                                                                                        claims form. Not sure of its use
                                                                                        but it has been made optional as
                                                                                        it was removed from the
                                                                                        eSchedule in February as not
                                                                                        required but has been left in
                                                                                        mfpSchedule so that the
                                                                                        mfpUptake will handle it if
                                                                                        required
                                                                                    </xsd:documentation>
                                                                                </xsd:annotation>
                                                                                <xsd:simpleType>
                                                                                    <xsd:restriction
                                                                                            base="xsd:positiveInteger">
                                                                                        <xsd:totalDigits value="4"/>
                                                                                        <xsd:fractionDigits value="0"/>
                                                                                    </xsd:restriction>
                                                                                </xsd:simpleType>
                                                                            </xsd:element>
                                                                            <xsd:element ref="mfpFormServiceLine"/>
                                                                            <xsd:element ref="eFormInjuryLine"
                                                                                         minOccurs="0" maxOccurs="50"/>
                                                                        </xsd:sequence>
                                                                    </xsd:complexType>
                                                                </xsd:element>
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="ScheduleTrailer">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="number_of_schedule_lines">
                                                        <xsd:simpleType>
                                                            <xsd:restriction base="xsd:positiveInteger">
                                                                <xsd:totalDigits value="4"/>
                                                                <xsd:fractionDigits value="0"/>
                                                            </xsd:restriction>
                                                        </xsd:simpleType>
                                                    </xsd:element>
                                                    <xsd:element name="schedule_claimed_amount">
                                                        <xsd:simpleType>
                                                            <xsd:restriction base="xsd:decimal">
                                                                <xsd:totalDigits value="11"/>
                                                                <xsd:fractionDigits value="2"/>
                                                                <xsd:minInclusive value="+0.00"/>
                                                            </xsd:restriction>
                                                        </xsd:simpleType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element ref="ACCStandardTrailer"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
