src/main/resources/schema/eSchedule/generic/ACCStandardTrailer20030901.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Name:              ACC_Standard_Trailer_SubSchema
    Description:     This XML defines the standard trailer to be attached to all XML messages. 
    				It occurs at the end of each XML message and represents trailerr information that is included in all XML document generated by ACC.
    			
    Schema Name:	ACCStandardTrailer				 
    Version:        		1.0
    Version Created:	9 August 2002
    
    Schema Name:	ACCStandardTrailer20030508				 
    Version:        		1.1
    Version Created:	8 May 2003
    Change:			eForm has been reviewed and a number of changes are required for clarity and  to align with mfpUptake requirements.
    					The sequence for the standard trailer has been made optional by changing the minOccurs from 1 to 0. Headers and trailers are not 					implemented at ACC as yest and much of this was for future use. To simplify the position, the trailer label must be present but it is 					optional as to whether any labels are supplied. The sequence of the two elements has ben switched.
			
    Schema Name:	ACCStandardTrailer20030722				 
    Version:        		1.2
    Version Created:	22 July 2003
    Change:			A testing problem with using namespace. Remove xmlns="http://www1.acc.co.nz/namespace"  reference from xsd schema.

    Schema Name:	ACCStandardTrailer20030901				 
    Version:        		1.3
    Version Created:	01 September 2003
    Change:			The problems of 22 July with namespace were resolved but did not solve all problems very cleanly. 
    					To this end, a review of namespace usage was investigated and a solution developed.
    					The solution changes the way in which namespaces are addressed internally and externally and makes it much tidier.
    					The structure of the library has also changed to bring all directories in at the same structure level to accommodate type libraries.
    					There is no actual change to this sub-schema but if a data type was required it would need to reference the data type namespace
    					ie. xmlns:xmldt="http://xmlschema.acc.co.nz/"


    
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:element name="ACCStandardTrailer">
		<xsd:annotation>
			<xsd:documentation>This element occurs once at the end of each XML file, and represents trailer information that is included in all XML documents generated by ACC.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> A standard complex type defining the details for an ACC standard XML trailer.  It has been made optional as the header and trailer are no fully implemented at this point in time so should no be enforced.</xsd:documentation>
				</xsd:annotation>
				<xsd:element name="end_of_run_time" type="xsd:dateTime">
					<xsd:annotation>
						<xsd:documentation>The date and time at which the message file was finished being created</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="end_of_run_description" type="xsd:string" fixed="End of Job">
					<xsd:annotation>
						<xsd:documentation>Static text ‘End of Job’</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
